.mainGalery {
    background-image: linear-gradient(to left, rgba(18, 194, 185, 0.801), rgba(22, 64, 70, 0.87));
    padding: 2rem 0;

    .mainGalery__title {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        font-family: "Dancing Script", cursive;
        color: #ffffff;
    }
    .mainGalery__images {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}
