.container-fluid {
    background-image: linear-gradient(to bottom, rgb(14, 226, 226), rgb(8, 92, 107));

    .navbar-brand {
        font-family: "Dancing Script", cursive;
        font-size: 2.5rem;
    }
}