.cards2 {
    display: flex;
    width: 90%;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 2rem 0rem 3rem 4rem;
    margin: 2rem;
    box-shadow: 22px 0px 23px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 22px 0px 23px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 22px 0px 23px 0px rgba(0, 0, 0, 0.45);

    h3 {
        font-family: $fuente-texto;
    }

    .card-img img {
        border-radius: 10px;
        width: 90%;
        transition: height 1s, width 1s;

        &:hover{
            height: 91%;
            width: 91%;

        }

     
    }
    
    
}